<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>QMonitor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main monitor page -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Main Monitor Page CSS-->
    <link rel="stylesheet" href="/static/CSS/index.css">
    <!-- Main Monitor Page JS-->
    <script src="/static/JS/index.js"></script>
</head>


<body>
    <!-- Main container -->
    <div class="container">
        <div class="container-fluid p-0 body-main" id="main-container">
            <!-- Top menu area -->
            <div id="title-container" class="title-container">
                <td>QMonitor</td>
                <div class="row">
                    <div class="col-sm-3 minor-row">
                        <span style="font-weight: bolder;">{{cur_time_date}}</span>
                    </div>
                    <div class="col-sm-3 minor-row">
                        <div class="zoom"><a href="#" data-toggle="modal" data-target="#hosts-modal">Hosts Edit</a>
                        </div>
                    </div>
                    <div class="col-sm-3 minor-row">
                        <div class="zoom"><a href="#" id="a-refresh">Refresh Now</a></div>
                    </div>
                    <div class="col-sm-3 minor-row">
                        <div class="zoom"><a href="#" data-toggle="modal" data-target="#about-modal">About</a></div>
                    </div>
                </div>
            </div>

            <div class="main-content" id="main-content">
                <!-- main content -->
                <!-- Mock test -->
                <div class="container">
                    <div class="summary-area-div" id="summary-area">
                        <!-- Summary Area -->
                    </div>

                    <table class="table-striped table-mods">
                        <tbody>
                            <!-- Main area where the graphs and CSS is shown.-->
                            {{template_output |safe}}
                        </tbody>
                    </table>


                </div>
            </div>

            <div class="footer" id="footer">
                Written by Larry Keith Williams II. Copyright 2020. Monitor is free to use and distribute. Please visit
                my
                <a href="https://github.com/2004lkw" target="_blank">github</a> to view this and more.
            </div>

            <!-- Modals -->

            <div class="modal" id="about-modal">
                <!-- About Modal -->
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h4>About Monitor</h4>
                        </div>

                        <div class="modal-body">
                            <p>
                            <ul>
                                <li><span style="background-color: black; color: green;">Green</span> LED = All records
                                    indicate this host is reachable and stable.</li>
                                <li><span style="background-color: black; color: yellow;">Yellow</span> LED = There has
                                    been at least one failed attempt to reach this host.</li>
                                <li><span style="background-color: black; color: red;">Red</span> LED = This host is
                                    unreachable at the most recent attempt.</li>
                            </ul>
                            </p>
                            <p>Each block is a representation of a unit of time. Red blocks indicate a failed attempt.
                                Green blocks represent success. Values that appear when you hover over a block indicate
                                the estimated time that attempt was made.</p>
                            <p>You can add and remove hosts by clicking on Hosts Edit. <span
                                    style="font-style: italic;">(adding and removing hosts can
                                    take a few minutes to take effect.)</span> In addtion, clicking Refresh Now can
                                speed the
                                process up a bit most times. Using the Monitory Summary, you can filter the table by
                                color
                                by clicking the number of the status or clicking the total.</p>
                            <p>To fine tune other settings such as duration, time between checks and others, please view
                                the readme that was distributed with this package.</p>
                            <p><span style="font-style: italic; font-size: smaller;">Version 1.0 Written by LKW2</span>
                            </p>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="modal" id="hosts-modal">
                <!-- Host Edit Modal -->
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h4>Hosts Edit</h4>
                        </div>

                        <div class="modal-body" id="choice-panel">
                            <!-- Choice Panel -->
                            <div class="text-center">
                                <div class="choice-panel-text">
                                    <h5>Add a host or delete one?</h5>
                                </div>
                                <button type="button" class="btn btn-info" id="add-host-selection">Add host</button>
                                <button type="button" class="btn btn-danger button-host-edit"
                                    id="delete-host-selection">delete host</button>
                            </div>
                        </div>

                        <div class="modal-body" id="add-panel">
                            <!-- Add Panel -->
                            <div class="text-center">
                                <div class="choice-panel-text">
                                    <h5>Type the name of the host you wish to add.</h5>
                                </div>
                                <input type="text" class="form-control" placeholder="host-to.add.com"
                                    id="add-panel-input">
                                <button type="button" class="btn btn-success button-host-add" id="button-add-host">Add
                                    Host</button>
                            </div>
                        </div>

                        <div class="modal-body" id="remove-panel">
                            <!-- Remove Panel -->
                            <div class="text-center">
                                <div class="choice-panel-text">
                                    <h5>Select the host to remove.</h5>
                                </div>
                                <select class="form-control" id="host-selection" name="host-selection">
                                    <!-- no options by defualt.  They will have to be added. -->
                                </select>
                                <button type="button" class="btn btn-danger button-host-add"
                                    id="button-remove-host">Remove Host</button>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</body>

</html>