<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <!-- Main monitor page -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Main Monitor Page CSS-->
    <link rel="stylesheet" href="/static/CSS/index.css">
    <!-- Main Monitor Page JS-->
    <script src="/static/JS/index.js"></script>
</head>


<body>
    <!-- Main container -->
    <div class="container-fluid p-0 body-main" id="main-container">
        <div id="title-container" class="title-container">
            <td>Monitor</td>
            <div class="row">
                <div class="col-sm-3 minor-row">
                    {{cur_time_date}}
                </div>
                <div class="col-sm-3 minor-row">
                
                </div>
                <div class="col-sm-3 minor-row">
                
                </div>
                <div class="col-sm-3 minor-row">
                
                </div>
            </div>
        </div>
<!--        <table class="title-table">
            <tbody>
                <tr class="minor-row">
                    <td>{{cur_time_date}}</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                </tr>
            </tbody>
        </table>
-->

        <div class="main-content" id="main-content">
            <!-- mian content -->
            <!-- Mock test -->
            <div class="container">

                <table class="table-striped table-mods">
                    <tbody>
                        <!-- Main area where the graphs and CSS is shown.-->
                        {{template_output |safe}}
                    </tbody>
                </table>


            </div>
        </div>

        <div class="footer" id="footer">
            Written by Larry Keith Williams II. Copyright 2020. Monitor is free to use and distribute. Please visit my
            <a href="https://github.com/2004lkw" target="_blank">github</a> to view this and more.
        </div>
    </div>
</body>

</html>