<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <p>There is no information to display.  Please set up the system properly by:</p>
    <p>
        1. Going to the root and running the connection_tester.py <br>
        2. Possibly, your hosts.txt file has no hosts in it?<br>
        3. The permissisons are wrong and the script can't write the output?<br>
        4. Other linux problems with permissinos?<br>
        5. Cronjob isn't running?<br>
        6. History file can't be recorded?<br>
    </p>
    Once this is complete, restart this web server and try again.
</body>
</html>